<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <h2 class="mt-5 w-100">Статья {{ title }}</h2>
                        <div class="col-4">
                              <img :src="img_url" alt="">
                        </div>
                        <div class="col-8 pl-5">
                            <div>{{ description }}</div>
                        </div>
                    </div>
                    <router-link to="/">
                        <button class="btn btn-primary mt-5">Назад</button>
                    </router-link>
                   
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name:"Detail",
    data(){
        return {
            title:this.$route.params.article.name,
            img_url:this.$route.params.article.url,
            description: this.$route.params.article.description
        }
    }
}
</script>

<style lang="scss">
    
</style>