<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="font-weight-bold header-title">Melburn task</h1>
                    <div class="form-group">
                        <label for="">Поиск</label>
                        <input v-model="query" type="text" class="mt-5 form-control search" placeholder="example:nature">
                    </div>
                    <Articles :articles="imagesData"></Articles>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Articles from '@/components/Articles.vue'

export default {
    name:"Home",
    components:{
        Articles
    },
    data(){
        return {
            query:''
        }
    },
    watch:{
        query(v){  
            if(v !== "" && v.length>3){ 
                this.$store.dispatch('filterImages',v);
            }else{
                this.$store.dispatch('getImages');
            }   
        }
    },
    computed:{
        imagesData(){
            return this.$store.getters.fillImages
        }
    },
    methods:{

    },
    created(){
        this.$store.dispatch('getImages');
    }
}
</script>

<style lang="scss">
    .header-title{
        margin-top: 50px;
        & h1{
            font-size: 60px;
        }
    }
    .search{
        width:200px !important;
        margin-left:20px;
        display:inline-block !important;
    }
</style>