<template>
    <div class="row"> 
        <div class="article-container col-4 pl-2 pr-2 mt-5" v-for="(image,index) in articles" :key="index" @click="routeToDetail(image)">
            <img :src="image.url" alt="">
            <div class="mt-2">{{ image.name }}</div> 
        </div>
    </div>
</template>

<script>
export default {
    name:"Articles",
    props:['articles'],
    data(){
        return {

        }
    },
    methods:{
        routeToDetail:function (image) {
            this.$router.push({name: 'Detail', params: { article: image,id:image.id}})
        }
    }
}
</script>

<style lang="scss">
    .article-container{
        cursor:pointer;
    }
</style>