<template>
    <div>
        <router-view></router-view>
    </div>
</template>

<script>
import Articles from '@/components/Articles.vue'

export default {
    name:"app",
    components:{
        Articles
    },
    data(){
        return {
            query:''
        }
    },
    computed:{
        imagesData(){
            return this.$store.getters.fillImages
        }
    },
    methods:{

    },
    created(){
        this.$store.dispatch('getImages');
    }
}
</script>

<style lang="scss">
    .header-title{
        margin-top: 50px;
        & h1{
            font-size: 60px;
        }
    }
</style>